<template>
  <div class="q-pa-md">
    <q-table
        title="Менеджеры"
        :data="store.managers"
        :columns="columns"
        row-key="id"
    >
      <template v-slot:body-cell-actions="props">
        <q-td :props="props">
          <q-btn dense round flat color="grey" @click="editManagerWindow(props)" icon="edit"></q-btn>
          <q-btn dense round flat color="red" @click="deleteManager(props)" icon="delete"></q-btn>
        </q-td>
      </template>
      <template v-slot:top-right>
        <q-btn color="primary" label="Добавить" @click = "addManagerWindow()" icon="add"></q-btn>
      </template>
    </q-table>
    <q-dialog v-model = "showDialog">
      <q-card style="width: 400px" class="q-px-sm q-pb-md">
        <q-card-section>
          <div class="text-h6">{{windowTitle}}</div>
        </q-card-section>

        <q-form
            class="q-gutter-md"
        >
          <q-input
              filled
              v-model="currentItem.name"
              label="Имя *"
              hint="Введите имя"
              dense
              lazy-rules
          />
          <q-input
              filled
              v-model="currentItem.email"
              label="Email"
              hint="Введите email"
              dense
              lazy-rules
              type="email"
          />
          <q-input
              filled
              v-model="currentItem.phone"
              label="Телефон *"
              hint="Введите телефон"
              dense
              lazy-rules
              mask="+7(###)###-##-##"
          />
          <q-input
              filled
              label="Дата *"
              hint = "Введите дату"
              dense
              v-model="currentItem.end_date"
          >


            <template v-slot:prepend>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                  <q-date v-model="currentItem.end_date" mask="YYYY-MM-DD HH:mm">
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Close" color="primary" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>

            <template v-slot:append>
              <q-icon name="access_time" class="cursor-pointer">
                <q-popup-proxy cover transition-show="scale" transition-hide="scale">
                  <q-time v-model="currentItem.end_date" mask="YYYY-MM-DD HH:mm" format24h>
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Close" color="primary" flat />
                    </div>
                  </q-time>
                </q-popup-proxy>
              </q-icon>
            </template>

          </q-input>
          <div>
            <input type="checkbox"  v-model="currentItem.status" value="0" >
            Активен
          </div>
          <q-btn color="primary" label="Сохранить" @click = "saveManager" />

        </q-form>
      </q-card>
    </q-dialog>
  </div>
</template>

<style>
</style>
<script>
import $store from "@/store";
export default {
  name: 'Managers',
  data ()
  {
    return {
      showDialog: false,
      currentItem: 0,
      columns: [
        {
          name: 'name',
          label: 'Имя',
          align: 'left',
          field: row => row.name,
          sortable: true
        },
        {
          name: 'email',
          label: 'Email',
          align: 'left',
          field: row => row.email,
          sortable: true
        },
        {
          name: 'phone',
          label: 'Телефон',
          align: 'left',
          field: row => row.phone,
          sortable: true
        },
        {
          name: 'end_date',
          label: 'Дата окончания',
          align: 'left',
          field: row => row.end_date,
          sortable: true
        },
        {
          name: 'status',
          label: 'Статус',
          align: 'left',
          field: row => this.store.helpData.status[Number(row.status)],
          sortable: true
        },
        {
          name: 'actions',
          label: 'Действия',
          align: 'left',
        }
      ],
    }
  },
  computed:
      {
        store()
        {
          return $store;
        },
        windowTitle()
        {
          return (this.currentItem && this.currentItem.id == 'new') ? 'Добавить менеджера' : 'Редактировать менеджера';
        }
      },
  async mounted()
  {
    this.store.managers = await this.getManagers();
  },
  methods: {

    /**
     * Получить список менеджеров
     * @returns {Promise<*|undefined>}
     */
    async getManagers()
    {
      const url = this.store.config.api_url + '/managers/all';

      try
      {
        const response = await fetch(url);
        return await this.responseHelper(response);
      }
      catch(e)
      {
        this.error("Не могу подключится к серверу");
      }
    },

    /**
     * Открыть окно Добавления менеджера
     * @param item
     */
    addManagerWindow()
    {
      this.currentItem = {
        id: 'new',
        name: '',
        email: '',
        phone: '',
        status: '',
        end_date: ''
      };

      this.showDialog = true;
    },

    /**
     * Открыть окно редактирования менеджера
     * @param item
     */
    editManagerWindow(item)
    {
      const id = item.key;

      this.currentItem = this.getManagerHelper(id)

      this.showDialog = true;
    },

    /**
     *  Удаление менеджера
     * @param item
     * @returns {Promise<void>}
     */
    async deleteManager(item)
    {
      const id = item.key;

      this.$q.dialog({
        title: 'Удаление',
        message: 'Вы действительно хотите удалить этого менеджера',
        cancel: true,
        persistent: true
      }).onOk(async () =>
      {

        this.currentItem = this.getManagerHelper(id);

        const url = this.store.config.api_url + '/managers/'+this.currentItem.id+'/delete';

        await fetch(url, {
          method: 'POST'
        });
      }).onOk(() =>
      {
        this.store.managers.forEach((item, key) => {

          this.currentItem = [];
          if (id == item.id)
          {
            this.$delete(this.store.managers, key)
            this.success('Менеджер удален');
          }
        });
      });
    },

    /**
     * Добавление/сохранение менеджера
     * @returns {Promise<void>}
     */
    async saveManager()
    {

      let url;
      if (this.currentItem['id'] == 'new')
      {
        url = this.store.config.api_url + '/managers/add';
      }
      else
      {
        url = this.store.config.api_url + '/managers/'+this.currentItem.id+'/update';
      }

      const response = await fetch(url, {
        method: 'POST',
        body: JSON.stringify(this.currentItem)
      });

      const jsonData = await this.responseHelper(response);
      if (jsonData)
      {

        this.success('Менеджер сохранен');

        if (this.currentItem['id'] == 'new')
        {
          this.store.managers = await this.getManagers();
        }
        this.showDialog = false;
      }
    },

    /**
     * Разбор ответа от сервера
     * @param response
     * @returns {Promise<*>}
     */
    async responseHelper(response)
    {
      if (response.ok)
      {
        const text = await response.text();

        try
        {
          var data = 	JSON.parse(text);
        }
        catch (e)
        {
          this.error("Данные вернулись в неверном формате!");
        }

        if (data.data)
        {
          return data.data;
        }
        else
        {
          this.error("Результат на сервере неккоректный");
        }
      }
      else
      {
        this.error("Не могу подключаится к API");
      }
    },

    /**
     * Поиск нужного менеджера
     * @param id
     * @returns {*[]|*}
     */
    getManagerHelper(id)
    {
      const currentItem = this.store.managers.filter((item) => {return id == item.id});

      if (currentItem.length > 0)
      {
        return currentItem[0];
      }
      else
      {
        return [];
      }
    },

    /**
     * Отображение ошибки
     * @param text
     */
    error(text)
    {
      this.$q.notify({
        type: 'negative',
        message: text
      })
    },
    /**
     * Информирование об успешном ответа от сервера
     * @param text
     */
    success(text)
    {
      this.$q.notify({
        type: 'positive',
        message: text
      })
    },
  }
}
</script>
